<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>WorkForce Management System</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" type="image/x-icon" />
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="../../views/stylesheets/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        <div class="error-container">
            <div class="error-code">Error!</div>
            <div class="error-text">Something Went Wrong</div>
            <div class="error-subtext">Unfortunately we're having trouble loading the page you are looking for. Please wait a moment and try again or use action below.</div>
            <div class="error-actions">                                
                <div class="row">
                    <div class="col-md-6" style="margin-left: 25%">
                        <button class="btn btn-info btn-block btn-lg" onClick="document.location.href = '/login';">Back to Login Page</button>
                    </div>
                    
                </div>                                
            </div>
            
        </div>                 
    </body>
</html>