<!-- START BREADCRUMB -->
<ul class="breadcrumb">
	<li><a href="pages-timeline-simple.html">Home</a></li>
</ul>
<!-- END BREADCRUMB --> 
<div class="row">
<div class="col-md-6">
			
	</div>
	<div class="col-md-12">
		
		<!-- START NEW RECORD -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Create Alert</h3>
				<form class="form-horizontal" role="form" id="jvalidate" action="">
				
				<div class="form-group">
					<div class="col-md-12">
						<div class=pull-left">
							 <div class="col-md-3">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									<input type="date" id="dp-3" ng-model="alert_date" class="form-control" data-date-format="dd-mm-yyyy" data-date-viewmode="years" required/>
								<!-- <datepicker id="dp-3" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker> --> 
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group bootstrap-timepicker">
									<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
									<input type="time" ng-model="alert_time" class="form-control" required/>
								</div>
							</div>
							
							
						
							<div class="col-md-3">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-exclamation-sign"></span></span>                                                                                
									<select class="form-control select" ng-model="alert_checkpoint" id="dp-3" required>
										<option selected="true" value="c1">Checkpoint 1</option>
										<option value="c2">Checkpoint 2</option>
										<option value="c3">Checkpoint 3</option>
										<option value="c4">Checkpoint 4</option>
									</select>
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-exclamation-sign"></span></span>                                                                                
									<select class="form-control select" ng-model="alert_type" id="dp-3" required>
										<option selected="Incident Reports" value="Incident Reports">Incident Reports</option>
										<option value="Parking violation">Parking violation</option>
										<option value="Maintenance Calls">Maintenance Calls</option>
										<option value="Call For Service">Call For Service</option>
									</select> 
									
									
								</div>
							</div>
							
						</div>
						
						
					</div>
				</div>
				<div class="form-group" style="padding-left:10px">
					<div class="col-md-10">
						<div class="input-group">
							<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
							<input type="text" ng-model="alert_building_name" required class="form-control" placeholder="Write Buidling name"/>
							<!-- <span class="help-block">min size = 2, max size = 8</span> -->
						</div>                                                                                        
					</div>                                        
				</div>
				<div class="form-group" style="padding-left:10px">
					<div class="col-md-10">
						<div class="input-group">
							<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
							<input type="text" ng-model="alert_description" required class="form-control" placeholder="Write Description"/>
						</div>                                                                                        
					</div>                                        
				</div>
				<!-- ng-click="create_alert()" -->
				<div class="pull-right">
							<button class="btn btn-danger mb-control" data-box="#mb-clientdelete" ng-click="create_alert()"><span class="fa fa-share"></span> CREATE</button>
				</div>
				</form>
			</div>
		</div>
		<!-- END NEW RECORD -->
		
		
		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
		<!-- START TIMELINE -->
		<!-- use in ng-repeat -->
		<div class="timeline timeline-right" ng-init="get_timeline_content()">
		<!-- START TIMELINE ITEM -->
			<div class="timeline-item timeline-main">
				<div class="timeline-date">Timeline</div>
			</div>
			<!-- END TIMELINE ITEM -->
		<div ng-repeat="obj in timeline_display_object">
			
			
			<!-- START TIMELINE ITEM -->
			
			<div class="timeline-item timeline-item-right">
				<div class="timeline-item-info">{{obj.date}}</div>
				<div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
				<div class="timeline-item-content">
					<div class="timeline-heading">
						<img src="../assets/images/users/user2.jpg"/> <a href="#">{{obj.guard_name}}</a> has reported at checkpoint - <a href="#">{{obj.checkpoint_name}}</a> in Building <a href="#">{{obj.building_name}}</a>
					</div>
					<div class="timeline-body">
					 <a href="#"> Incident Description : </a>
						<p>{{obj.report}}</p>
						<ul class="list-tags">                                            
							<li><a href="#"><span class="fa fa-tag"></span> {{obj.building_name}}</a></li>
							<li><a href="#"><span class="fa fa-tag"></span> {{obj.checkpoint_name}}</a></li>
						</ul>                                            
					</div>
				</div>
			</div>   
			   
			<!-- END TIMELINE ITEM -->
		</div>
			<!--  End of ng-repeat-->	
	</div>
</div>
</div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-clientdelete">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Delete Client</div>
            <div class="mb-content">
                <p>Are you sure you want to delete this record?</p>                    
                <p>Press No if youwant to continue work. Press Yes to delete.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a class="btn btn-success btn-lg" ng-click="deleteClient(deleteClientObj.person_ssn)">Yes</a>
                    <button id="divCancelClientDelete" ng-click="cancelDeleteClient()" class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
            var jvalidate = $("#jvalidate").validate({
                ignore: [],
                rules: {                                            
                	alert_date: {
                                required: true,
                                date : true
                        },
                        alert_time: {
                                required: true
                        },
                       
                        alert_checkpoint: {
                                required: true
                        },
                        alert_type: {
                                required: true
                        },
                        alert_building_name: {
                                required: true
                        },
                        alert_description: {
                                required: true
                        }
                    }                                        
                });                                    
        </script>